<ion-content>
  <div class="app-container">

    <div class="teddi-wrapper">
    </div>

    <div class="login-wrapper">
      <h2>Login</h2>

      <form [formGroup]="loginForm">
        <div class="input-box">
          <ion-item class="app-input-item input-icon input-email">
              <ion-label position="floating">Email</ion-label>
              <ion-input formControlName="email" type="email"></ion-input>
          </ion-item>
          <span class="error" *ngIf="isSubmitted && loginForm?.controls?.email?.errors as error">{{helper.showValidatorErrors(error)}}</span>
          <ion-item class="app-input-item input-icon input-password">
              <ion-label position="floating">Password</ion-label>
              <ion-input formControlName="password" type="password"></ion-input>
          </ion-item>
          <span class="error" *ngIf="isSubmitted && loginForm?.controls?.password?.errors as error">{{helper.showValidatorErrors(error)}}</span>
        </div>
        
        <div class="remember-me">
          <ion-item>
            <ion-label>Remember Me</ion-label>
            <ion-checkbox slot="start"></ion-checkbox>
          </ion-item>
          <ion-item (click)="showForgetPopup()">Forget Password?</ion-item>
        </div>

        <ion-grid class="login-btns ion-no-padding">
          <ion-row>
            <ion-col>
              <ion-button (click)="onLogin()" class="app-btn" shape="round" expand="block">Submit</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-button (click)="goto('join-user')" class="app-outline-btn" shape="round" expand="block">Back</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </form>

    </div>
  </div>
</ion-content>
    